

.checkbox {
    padding: 0;

    label {
        border: 1px solid #aaa;
        padding: 0;
        height: 25px;
        width: 25px;
        text-align: center;
        line-height: 25px;
    } 

    input {
        display: none;
    }

    .checkicon {
        opacity: 0;
    }

    input:checked + label span {
        opacity: 1;
    }
}


.check-list {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    margin: 8px auto;
    background-color: white;
    header {
        padding: 4px;
        display: flex;
        direction: rtl;
        height: auto !important;
        p {
            margin: 0;
            font-weight: bold;
            padding: 8px;
            flex-grow: 1;
        }

        $spanHeight: 25px;
        
        %spanSStyle {
            height: $spanHeight;

            text-align: center;
            margin: auto;
            display: block;
            line-height: $spanHeight;
        }

        span.number {
            @extend %spanSStyle;
            font-size: 10px;
            
        }

        span.fa {
            @extend %spanSStyle;
            width: $spanHeight;
            border-radius: 50%;
            transition: .5s ease-in-out;
        }

        span.fa:hover {
            background-color: #eee;
        }
    }

    ul {
        list-style: none;
        height: 250px;
        padding: 0;
        margin: 0;
        overflow-y: auto;
        display: block;
        transition: .4s ease-in;
        li {
            padding: 0 8px;
            display: flex;
            direction: rtl;
            min-width: 150px;
            label {
                
                flex-grow: 1;
            }
        }
    }
}